.none{
	background-color:#26F813;
	font-weight:900;
	width:100%;
	padding:20px;
	height:150px;
	font-family: sans-serif;
	font-size:50px;
	position:fixed;
	text-align:center;
	z-index:2;
	opacity:0.8;
	box-shadow:0 1px 1px #ffffff;
}

#in{
	background-color:#8C9598;
	position:absolut;
	top:30px;
	overflow:auto;
	bottom:0px;
	margin:0;
	width:13.7%;
	vertical-align:center;
	text-align:center;
	padding:50px;
	
}

body{
	background-color:#000000;
}
#footer{
	margin-left:580px;
	
}















































